<%= form_with(model: complaint, local: true) do |form| %>
  <% if complaint.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(complaint.errors.count, "error") %> prohibited this complaint from being saved:</h2>

      <ul>
        <% complaint.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :text %>
    <%= form.text_area :text %>
  </div>

  <div class="field">
    <%= form.label :category %>
    <%= form.text_field :category %>
  </div>

  <div class="field">
    <b>Company</b><br />
    <%= form.radio_button :company, 'Empresa1' %> Empresa1<br />
    <%= form.radio_button :company, 'Empresa2' %> Empresa2<br />
    <%= form.radio_button :company, 'Empresa3' %> Empresa3<br />
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
